/* variables created for easier future maintenance  */
:root {
    --main-clr: #E6E6FA;
    --hdrs-clr: #5f27cd;
    --bckgrnd-clr: #a29bfe;
    }
    
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body */
body {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 3em;
    background-color: var(--main-clr);
    line-height: 1.5;
}

h1,
h2 {
    margin: 0.2em 0;
    color: var(--hdrs-clr)
}

p {
    margin: 1.25em 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navigation {
    display: flex;
    justify-content: center;
    padding: 1em;
    text-align: center;
    background-color: var(--bckgrnd-clr);
    color: var(--main-clr);
}

ul li {
    display: inline;
}

.header nav ul {
    list-style-type: none;
}

/* main content */
.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0.3em;
    padding: 0.625em;
}

.name {
    margin: 0.625em 0;
    padding: 0.3em;
}

.info__img {
    display: block;
    width: 15%;
    height: auto;
    margin: auto;
}

/* porfolio content - projects */
.my-work__content{
    margin: 1.25em;
}

.my-work__projects{
    margin: 0.3em;
}

#my-story, 
#my-work__paragraph,
#contact__paragraph {
    text-align: left;
}

.malvinaH,
.horiseon,
.CSS__snippet-cheatsheet
.marvel__for-dummies {
    margin: 5px;
    padding: 5px;
}

figure {
    border: thin var(--hdrs-clr) solid;
    border-radius: 10%;
    padding: 0.3em;
    margin: auto;
}

figcaption {
    color: black;
    font: italic medium  sans-serif;
    text-align: center;
}

/* Set the first image to appear larger in size than the others */
#malvinaH {
    width: 80%;
    height: auto;
}

#horiseon {
    width: 60%;
}
 
#CSSsnippet {
    width: 40%;
    height: 6.25em;
}

#marvel__for-dummies {
    width: 20%;
    height: 100px;
}

footer {
    font-size: 0.5;
    padding: 0.125;
    background: var(--bckgrnd-clr);
    color: var(--main-clr);
    text-align: center;
}

/* using min-width for responsive layout startig with mobile first approach and addpating to all viewports*/
@media screen and (min-width: 768px) {
   
    .navigation {
        display: flex;
        justify-content: end;
    }

    .my-work__projects {
        display: flex;
        flex-wrap: wrap;
    }
    
        figure {
        border: thick var(--hdrs-clr) dotted;
        display: flex;
        flex-flow: column;
        flex-grow: 1;
    }

    .malvinaH {
        max-width: auto;
    }
    
    footer {
        font-size: 1rem;
    }
  }
  
  /* media query for larger screens */
  @media screen and (min-width: 992px) {

    figure {
        border: thick var(--hdrs-clr) solid;
    }

    .malvinaH {
        max-width: 50%;
    }

    .horiseon,
    .CSS__snippet-cheatsheet {
        max-width: 30%;
    }
  }