:root {
    --main-clr: #E6E6FA;
    --hdrs-clr: #5f27cd;
    --bckgrnd-clr: #a29bfe;
    }
    
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    /* wireframing for me */
    /* border : red solid 1px; */
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
    background-color: var(--main-clr);
    line-height: 1.5;
}

h1,
h2 {
    margin: 0.2rem 0;
    color: var(--hdrs-clr)
}

p {
    margin: 20px 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navigation {
    display: flex;
    justify-content: center;
    padding: 15px;
    text-align: center;
    background-color: var(--bckgrnd-clr);
    color: var(--main-clr);
}

ul li {
    display: inline;
}

.header nav ul {
    list-style-type: none;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px;
    padding: 10px;
}

.name {
    margin: 10px 0;
    padding: 5px;
}

.info__img {
    display: block;
    width: 15%;
    height: auto;
    margin: auto;
}

/* section {
    display: flex;
    flex-direction: column;
    padding: 5px;
} */
.my-work__content{
    margin: 20px;
}

.my-work__projects{
    margin: 5px;;
}

#my-story, 
#my-work__paragraph,
#contact__paragraph {
    text-align: left;
}

.malvinaH,
.horiseon,
.CSS__snippet-cheatsheet {
    margin: 5px;
    padding: 5px;
}

#malvinaH {
    width: 80%;
    height: auto;
}

#horiseon {
    width: 30%;
}
 
#CSSsnippet {
    width: 30%;
    height: 100px;
}

footer {
    font-size: 8px;
    padding: 2px;
    background: var(--bckgrnd-clr);
    color: var(--main-clr);
    text-align: center;
}

/* using min-width for responsive design startig with mobile first approach */
@media screen and (min-width: 768px) {
   
    .navigation {
        display: flex;
        justify-content: end;
    }

    .my-work__projects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    footer {
        font-size: 1rem;
    }
  
    /* select the last child to grow to full width if it has space to grow */
    /* .card-column:last-child {
      flex-grow: 1;
    } */
  }
  
  /* media query for larger screens */
  @media screen and (min-width: 992px) {
    /* header {
      width: 75%;
    }